* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Regular.woff2") format("woff2"), url("../fonts/Geologica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  font-display: swap;
  src: url("../fonts/Geomanist-Medium.woff2") format("woff2"), url("../fonts/Geomanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geomanist";
  font-display: swap;
  src: url("../fonts/Geomanist-Regular.woff2") format("woff2"), url("../fonts/Geomanist-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --app-height: 100%;
  --white: #fff;
  --black: #373A44;
  --gray: #87898F;
  --green: #34A853;
  --light-green: #F3FAF5;
  --blue: #2F80ED;
  --light-blue: #F3F7FE;
  --yellow: #FBBC04;
  --light-yellow: #FFFBF0;
  --bg: url("../img/loading.gif") 50px 50px no-repeat;
  --inter: "Inter", sans-serif;
  --geologica: "Geologica", sans-serif;
  --geomanist: "Geomanist", sans-serif;
}

body {
  font-family: var(--inter);
  font-weight: 400;
  color: var(--black);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

/**
 * Swiper 11.1.14
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: September 12, 2024
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */

/* 3D Shadows */

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Slide styles end */

.title {
  font-family: var(--geomanist);
  font-size: 3.75rem;
  margin-bottom: 56px;
  letter-spacing: -1px;
  line-height: 1.13;
}

.title span {
  vertical-align: middle;
  width: 62px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title span img {
  max-width: 100%;
  max-height: 100%;
}

.btn-blue {
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 100px;
  background: var(--blue);
  color: var(--white);
  padding: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__item {
  position: relative;
  padding-left: 32px;
  line-height: 1.5;
}

.list__item:not(:last-child) {
  margin-bottom: 24px;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 14px;
  height: 14px;
  background: url("../img/icons/icons.svg#list") center/contain no-repeat;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.navigation__prev,
.navigation__next {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #EEF0F5;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  background: var(--white);
}

.navigation__prev.disabled,
.navigation__next.disabled {
  pointer-events: none;
}

.navigation__prev svg,
.navigation__next svg {
  width: 24px;
  height: 24px;
  stroke: #BFC0C3;
  transition: all 0.5s ease;
}

.navigation__next svg {
  transform: rotate(180deg);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.pagination__bullet {
  width: 72px;
  height: 8px;
  border-radius: 10px;
  background: #EEF0F5;
  transition: all 0.5s ease;
  cursor: pointer;
}

.pagination__bullet:not(:last-child) {
  margin-right: 8px;
}

.pagination__bullet.active {
  background: var(--blue);
}

.checkbox {
  font-size: 0.75rem;
  padding-left: 24px;
  position: relative;
  cursor: pointer;
  color: var(--gray);
}

.checkbox span {
  color: var(--black);
}

.checkbox::before,
.checkbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  transition: all 0.5s ease;
  border-radius: 4px;
}

.checkbox::before {
  border: 1px solid var(--gray);
}

.checkbox::after {
  background: url("../img/icons/icons.svg#check") center/70% no-repeat, var(--blue);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

.checkbox.active::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.checkbox input {
  display: none;
}

.breadcrumbs__body {
  padding: 32px 0;
}

.breadcrumbs__item {
  font-size: 0.875rem;
  color: var(--black);
  opacity: 0.4;
  position: relative;
  transition: all 0.5s ease;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 3px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: ">";
  margin-left: 7px;
}

.header {
  margin-top: 26px;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: var(--geomanist);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black);
  margin-right: 16px;
}

.header__phones {
  margin-left: 16px;
}

.header__btn {
  margin-left: 16px;
  border-radius: 10px;
  height: 36px;
  width: 170px;
  white-space: nowrap;
}

.header__btn svg {
  width: 8px;
  height: 8px;
  stroke: var(--white);
  margin-left: 8px;
}

.header__menu-icon {
  margin-left: 16px;
  width: 32px;
  min-width: 32px;
  height: 12px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: none;
}

.header__menu-icon svg {
  width: 100%;
  height: 100%;
  stroke: var(--black);
  stroke-width: 2px;
  transition: all 0.5s ease;
}

.menu {
  flex: 1 1 auto;
}

.menu__close {
  width: 40px;
  height: 40px;
  min-height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  transform: translate(29px, 0);
}

.menu__close svg {
  width: 14px;
  height: 14px;
  stroke: var(--black);
  stroke-width: 2px;
}

.menu__body {
  display: flex;
  justify-content: center;
}

.menu__list {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.menu__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu__link {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--black);
}

.menu__btn {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  pointer-events: none;
}

.menu__btn svg {
  width: 100%;
  height: 100%;
  stroke: var(--black);
}

.lang {
  position: relative;
  margin-left: 16px;
}

.lang__current {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 6px 16px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.lang__btn {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang__btn svg {
  width: 100%;
  height: 100%;
  stroke: var(--black);
}

.lang__body {
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  padding: 52px 16px 8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
  background: var(--white);
}

.lang__link {
  font-size: 0.875rem;
  color: var(--gray);
  padding: 2px 8px;
  line-height: 1.5;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.lang__link:not(:last-child) {
  margin-bottom: 4px;
}

.phones {
  position: relative;
}

.phones__main {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  border-radius: 10px;
  border: 1px solid #DBDBDB;
  height: 36px;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.phones__main svg {
  width: 16px;
  height: 16px;
  stroke: var(--black);
}

.phones__link {
  font-size: 0.875rem;
  color: var(--black);
  line-height: 1.5;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
}

.phones__link svg {
  width: 16px;
  height: 16px;
  stroke: var(--black);
  margin-right: 8px;
  transition: all 0.5s ease;
}

.phones__btn {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.phones__btn svg {
  width: 100%;
  height: 100%;
}

.phones__body {
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 16px;
  border: 1px solid #DBDBDB;
  background: var(--white);
  padding: 52px 16px 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
}

.phones__block {
  display: flex;
  flex-direction: column;
}

.phones__block:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px dashed #DBDBDB;
}

.phones__block:not(:first-child) {
  padding-top: 12px;
}

.phones__number {
  color: var(--gray);
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 2px 14px 2px 8px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
}

.phones__number:not(:last-child) {
  margin-bottom: 6px;
}

.phones__number svg {
  width: 16px;
  height: 16px;
  stroke: var(--gray);
  stroke-width: 1.2px;
  margin-right: 8px;
  transition: all 0.5s ease;
}

.phones__number_mob {
  display: none;
}

.phones__hours {
  color: var(--gray);
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 2px 14px 2px 8px;
  display: flex;
  align-items: center;
}

.phones__hours svg {
  width: 16px;
  height: 16px;
  stroke: var(--gray);
  stroke-width: 1.2px;
  margin-right: 8px;
}

.phones__social {
  color: var(--gray);
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 2px 14px 2px 8px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.phones__social:not(:last-child) {
  margin-bottom: 6px;
}

.phones__social svg {
  width: 18px;
  height: 18px;
  fill: var(--gray);
  margin-right: 6px;
  transition: all 0.5s ease;
}

.phones__mail {
  white-space: nowrap;
  color: var(--gray);
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 2px 14px 2px 8px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.phones__mail svg {
  width: 16px;
  height: 16px;
  stroke: var(--gray);
  stroke-width: 1.2px;
  margin-right: 8px;
  transition: all 0.5s ease;
}

.main__body {
  display: flex;
  padding: 72px 0;
  gap: 36px;
}

.main__info {
  flex: 1 1 620px;
}

.main__title {
  margin-bottom: 16px;
}

.main__text {
  margin-bottom: 24px;
  line-height: 1.5;
}

.main__gift {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.main__gift span {
  border-radius: 10px;
  background: var(--blue);
  margin-right: 32px;
  padding: 5px 16px;
  color: var(--white);
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.main__gift span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  width: 1.5px;
  height: 16px;
  transform: translate(0, -50%);
  background: #DBDBDB;
}

.main__image {
  flex: 1 1 528px;
  display: flex;
  justify-content: center;
}

.main__image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.list-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 56px;
}

.list-main__item {
  display: flex;
  align-items: center;
}

.list-main__icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-right: 18px;
}

.list-main__text {
  font-weight: 500;
}

.features-main {
  display: flex;
  gap: 24px;
}

.features-main__item {
  display: flex;
  align-items: center;
}

.features-main__item_green .features-main__value {
  color: var(--green);
}

.features-main__item_yellow .features-main__value {
  color: var(--yellow);
}

.features-main__value {
  margin-right: 10px;
  font-size: 2.75rem;
  font-weight: 500;
  color: var(--blue);
  letter-spacing: -3px;
}

.features-main__text {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--gray);
  max-width: 100px;
}

.services {
  padding: 128px 0;
}

.services__body {
  display: flex;
  gap: 24px;
}

.services__block {
  flex: 1 1 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.services__block:nth-child(1) .services__item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-content: flex-end;
}

.services__block:nth-child(1) .services__item:nth-child(2)::after {
  display: block;
  -webkit-mask: url("../img/services/icon2.svg") center/contain no-repeat;
          mask: url("../img/services/icon2.svg") center/contain no-repeat;
}

.services__block:nth-child(1) .services__item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/4;
  justify-content: flex-end;
}

.services__block:nth-child(1) .services__item:nth-child(3)::after {
  display: block;
  -webkit-mask: url("../img/services/icon1.svg") center/contain no-repeat;
          mask: url("../img/services/icon1.svg") center/contain no-repeat;
}

.services__block:nth-child(2) .services__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-content: flex-end;
}

.services__block:nth-child(2) .services__item:nth-child(1)::after {
  display: block;
  -webkit-mask: url("../img/services/icon3.svg") center/contain no-repeat;
          mask: url("../img/services/icon3.svg") center/contain no-repeat;
}

.services__block:nth-child(2) .services__item:nth-child(4) {
  grid-column: 1/3;
  grid-row: 3/4;
}

.services__block:nth-child(2) .services__item:nth-child(4)::after {
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  -webkit-mask: url("../img/services/icon4.svg") center/contain no-repeat;
          mask: url("../img/services/icon4.svg") center/contain no-repeat;
}

.services__block:nth-child(2) .services__item:nth-child(4) .services__name {
  max-width: unset;
}

.services__item {
  border-radius: 16px;
  background: var(--light-blue);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.services__item::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  pointer-events: none;
  background: var(--blue);
  display: none;
}

.services__item_green {
  background: var(--light-green);
}

.services__item_green::after {
  background: var(--green);
}

.services__item_green .services__name {
  color: var(--green);
}

.services__name {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--blue);
  margin-bottom: 16px;
  max-width: 170px;
}

.services__price {
  font-family: var(--geologica);
  font-size: 0.875rem;
  color: var(--gray);
}

.include {
  padding: 128px 0;
}

.include__body {
  display: flex;
  align-items: center;
  gap: 24px;
}

.include__list {
  flex: 1 1 50%;
}

.include__cards {
  flex: 1 1 50%;
}

.include__card {
  display: grid;
  grid-template-columns: 60px auto;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 16px;
  align-items: center;
  border-radius: 24px;
  padding: 24px;
  background: var(--light-blue);
}

.include__card:not(:last-child) {
  margin-bottom: 24px;
}

.include__card_green {
  background: var(--light-green);
}

.include__card_green .include__name {
  color: var(--green);
}

.include__image {
  grid-row: 1/3;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}

.include__image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.include__name {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--blue);
}

.include__text {
  line-height: 1.5;
}

.settings {
  padding: 128px 0;
}

.settings__body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.settings__item {
  position: relative;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  padding: 32px 24px;
  overflow: hidden;
  grid-column: span 12;
}

.settings__item:nth-child(1) {
  grid-column: span 4;
}

.settings__item:nth-child(2) {
  grid-column: span 8;
}

.settings__item:nth-child(2) .settings__count {
  color: var(--green);
}

.settings__item:nth-child(3) {
  grid-column: span 8;
}

.settings__item:nth-child(3) .settings__count {
  color: var(--yellow);
}

.settings__item:nth-child(4) {
  grid-column: 9/13;
  grid-row: 2/4;
}

.settings__item:nth-child(5) {
  grid-column: span 8;
}

.settings__item:nth-child(5) .settings__count {
  color: var(--green);
}

.settings__name {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}

.settings__text {
  line-height: 1.5;
}

.settings__count {
  position: absolute;
  right: 24px;
  bottom: -32px;
  font-size: 8.75rem;
  line-height: 0.8;
  opacity: 0.16;
  letter-spacing: -4px;
  color: var(--blue);
}

.benefit {
  padding: 128px 0;
}

.benefit__body {
  display: flex;
  gap: 24px;
}

.benefit__main {
  flex: 1 1 479px;
  display: flex;
  flex-direction: column;
}

.benefit__image {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.benefit__image img {
  max-width: 100%;
  height: auto;
}

.benefit__about {
  flex: 1 1 auto;
  border: 1px solid #DBDBDB;
  border-radius: 32px;
  padding: 24px;
}

.benefit__name {
  font-family: var(--geomanist);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.benefit__desc {
  line-height: 1.5;
  opacity: 0.6;
}

.benefit__info {
  flex: 1 1 681px;
}

.benefit__list {
  border: 1px solid #DBDBDB;
  padding: 24px;
  border-radius: 32px;
  margin-bottom: 24px;
}

.benefit__cards {
  display: flex;
  gap: 24px;
}

.card-benefit {
  border-radius: 32px;
  padding: 24px;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-benefit_green {
  background: var(--light-green);
}

.card-benefit__text {
  line-height: 1.5;
  margin-bottom: 24px;
}

.card-benefit__image {
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-benefit__image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.results {
  padding: 128px 0;
}

.results__body {
  display: flex;
  align-items: center;
  gap: 24px;
}

.results__info {
  flex: 1 1 50%;
}

.results__cards {
  flex: 1 1 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.results__card {
  border-radius: 16px;
  padding: 24px;
  background: var(--light-blue);
  position: relative;
}

.results__card_green {
  background: var(--light-green);
}

.results__card_green .results__value span {
  color: var(--green);
}

.results__card_green .results__link {
  color: var(--green);
}

.results__card_green .results__link svg {
  stroke: var(--green);
}

.results__card_yellow {
  background: var(--light-yellow);
}

.results__card_yellow .results__value span {
  color: var(--yellow);
}

.results__card_yellow .results__link {
  color: var(--yellow);
}

.results__card_yellow .results__link svg {
  stroke: var(--yellow);
}

.results__value {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 38px;
  white-space: nowrap;
}

.results__value span {
  font-family: var(--geomanist);
  font-weight: 400;
  font-size: 3.75rem;
  color: var(--blue);
  letter-spacing: -2px;
}

.results__link {
  color: var(--blue);
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results__link svg {
  width: 16px;
  height: 16px;
  stroke: var(--blue);
  margin-left: 16px;
}

.clients {
  padding: 128px 0;
}

.clients__slider {
  overflow: hidden;
  height: 100%;
  position: relative;
  margin-bottom: 60px;
  padding: 0 60px;
}

.clients__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: unset;
  padding: 16px;
}

.clients__slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.clients__navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.feedbacks {
  padding: 128px 0;
}

.feedbacks__wrapper {
  position: relative;
}

.feedbacks__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

.feedbacks__body {
  max-height: 600px;
  overflow: hidden;
  padding-right: 16px;
}

.feedbacks__grid {
  -moz-columns: 4;
       columns: 4;
  gap: 24px;
}

.feedbacks__item {
  line-height: 1.5;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #DBDBDB;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.feedbacks__item:not(:last-child) {
  margin-bottom: 24px;
}

.seo {
  padding: 128px 0;
}

.seo__wrapper {
  position: relative;
}

.seo__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

.seo__body {
  max-height: 350px;
  padding-right: 16px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #EEF0F5 #FBFBFC;
}

.seo__body::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

.seo__body::-webkit-scrollbar-thumb {
  background: #EEF0F5;
}

.seo__article {
  max-width: 1012px;
  padding-bottom: 64px;
}

.seo h3,
.seo h4,
.seo h5,
.seo h6 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 12px;
}

.seo p {
  line-height: 1.5;
  color: var(--gray);
}

.seo p:not(:last-child) {
  margin-bottom: 16px;
}

.about__body {
  display: flex;
  gap: 24px;
}

.about__info {
  flex: 1 1 790px;
}

.about__intro {
  background: #FBFBFC;
  padding: 24px;
  border-radius: 24px;
  margin-bottom: 28px;
}

.about__name {
  font-family: var(--geomanist);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.about__text {
  line-height: 1.5;
}

.about__list:not(:last-child) {
  margin-bottom: 24px;
}

.about__note {
  border-radius: 24px;
  background: var(--light-blue);
  color: var(--blue);
  padding: 24px;
  line-height: 1.5;
}

.about__sidebar {
  flex: 1 1 370px;
  max-width: 370px;
}

.sidebar-info__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-info__image img {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}

.sidebar-info__image:not(:last-child) {
  margin-bottom: 24px;
}

.sidebar-info__block {
  border: 1px solid #DBDBDB;
  padding: 24px;
  border-radius: 24px;
}

.sidebar-info__block h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.sidebar-info__block p {
  color: var(--blue);
  text-align: center;
}

.sidebar-info__block:not(:last-child) {
  margin-bottom: 24px;
}

.path {
  padding: 128px 0;
}

.path__body {
  display: flex;
  gap: 40px;
}

.path__info {
  flex: 1 1 790px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.path__item {
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.path__item:nth-child(1n+3) {
  grid-column: span 2;
}

.path__years {
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid #DBDBDB;
  margin-bottom: 24px;
}

.path__name {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 500;
}

.path__name:not(:last-child) {
  margin-bottom: 16px;
}

.path__image {
  width: 100%;
  aspect-ratio: 742/416;
  background: url("../img/path/no-image.svg") center/40% 40% no-repeat, #FBFBFC;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.path__image:not(:last-child) {
  margin-bottom: 24px;
}

.path__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.path__desc {
  line-height: 1.5;
  color: var(--gray);
}

.path__sidebar {
  flex: 1 1 354px;
  max-width: 354px;
}

.sidebar-path__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-path__image img {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}

.sidebar-path__image:not(:last-child) {
  margin-bottom: 24px;
}

.sidebar-path__block {
  border: 1px solid #DBDBDB;
  padding: 24px;
  border-radius: 24px;
}

.sidebar-path__block h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.sidebar-path__block p {
  color: var(--blue);
  text-align: center;
}

.sidebar-path__block:not(:last-child) {
  margin-bottom: 24px;
}

.course {
  padding: 24px;
  border-radius: 24px;
  background: #E6F0FD;
  overflow: hidden;
  position: relative;
}

.course__body {
  max-width: 200px;
  position: relative;
  z-index: 1;
}

.course__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 24px;
}

.course__intro {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.course__text {
  font-size: 0.875rem;
  opacity: 0.6;
  margin-bottom: 24px;
}

.course__btn {
  width: 183px;
  border-radius: 10px;
}

.course__btn svg {
  width: 10px;
  height: 10px;
  stroke: var(--white);
  stroke-width: 1.5px;
  margin-left: 8px;
}

.course__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}

.blog {
  padding-bottom: 128px;
}

.blog__body {
  display: flex;
  gap: 40px;
}

.blog__articles {
  flex: 1 1 790px;
}

.blog__sidebar {
  flex: 1 1 354px;
}

.blog__course {
  max-width: 354px;
  margin: 0 auto;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 56px;
}

.categories__item {
  font-size: 0.875rem;
  color: var(--black);
  line-height: 1.5;
  padding: 10px 16px;
  border-radius: 100px;
  border: 1px solid #DBDBDB;
  transition: all 0.5s ease;
}

.categories__item.active {
  background: var(--light-blue);
  color: var(--blue);
  border: 1px solid var(--light-blue);
}

.article-blog {
  display: flex;
  border: 1px solid #DBDBDB;
  border-radius: 24px;
  overflow: hidden;
}

.article-blog:not(:last-child) {
  margin-bottom: 24px;
}

.article-blog__image {
  position: relative;
  flex: 1 1 43%;
  height: auto;
}

.article-blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.article-blog__body {
  flex: 1 1 57%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.article-blog__category {
  font-size: 0.875rem;
  color: var(--black);
  line-height: 1.5;
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid #DBDBDB;
  transition: all 0.5s ease;
  margin-bottom: 24px;
}

.article-blog__category.active {
  background: var(--light-blue);
  color: var(--blue);
  border: 1px solid var(--light-blue);
}

.article-blog__title {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
  max-width: 280px;
  flex: 1 1 auto;
}

.article-blog__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.article-blog__date {
  font-size: 0.875rem;
  color: var(--gray);
}

.article-blog__author {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--blue);
  display: flex;
  align-items: center;
}

.article-blog__author svg {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke: var(--blue);
}

.article-blog__views {
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.article-blog__views svg {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke: var(--black);
}

.article-blog__link {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.article-blog__link svg {
  width: 100%;
  height: 100%;
  stroke: var(--blue);
}

.tags {
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 24px;
  background: #FBFBFC;
}

.tags__title {
  margin-bottom: 24px;
  font-size: 1.5rem;
  font-weight: 500;
}

.tags__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tags__item {
  font-size: 0.875rem;
  color: var(--black);
  line-height: 1.5;
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid #DBDBDB;
  transition: all 0.5s ease;
}

.tags__item.active {
  background: var(--light-blue);
  color: var(--blue);
  border: 1px solid var(--light-blue);
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 80px;
}

.pages__prev,
.pages__next {
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #EEF0F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages__prev svg,
.pages__next svg {
  width: 21px;
  height: 21px;
  stroke: #BFC0C3;
  transition: all 0.5s ease;
}

.pages__body {
  display: flex;
  gap: 16px;
}

.pages__link {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--white);
  color: var(--black);
  opacity: 0.4;
  transition: all 0.5s ease;
}

.pages__link.active {
  font-weight: 500;
  background: var(--blue);
  opacity: 1;
  color: var(--white);
}

.pages__separator {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--white);
  color: var(--black);
  opacity: 0.4;
}

.pages__next svg {
  transform: rotate(180deg);
}

.footer__body {
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
  gap: 104px;
}

.footer__main {
  display: flex;
  flex-direction: column;
  flex: 0 1 260px;
}

.footer__logo {
  font-family: var(--geomanist);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 24px;
}

.footer__desc {
  font-size: 0.875rem;
  line-height: 1.5;
  max-width: 210px;
  margin-bottom: 80px;
}

.footer__menus {
  flex: 0 1 512px;
  -moz-columns: 2 auto;
       columns: 2 auto;
  gap: 104px;
}

.footer__menu:not(:last-child) {
  margin-bottom: 40px;
}

.footer__contacts {
  flex: 0 1 204px;
}

.footer__rights {
  margin-top: 52px;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 0.875rem;
  color: var(--gray);
}

.footer__rights p:first-child {
  white-space: nowrap;
}

.subscribe__title {
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 24px;
  line-height: 1.5;
}

.subscribe__input {
  width: 100%;
  border: 1px solid #EEF0F5;
  border-radius: 100px;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 12px;
  padding: 8px 12px;
}

.subscribe__input::-moz-placeholder {
  opacity: 1;
}

.subscribe__input::placeholder {
  opacity: 1;
}

.subscribe__btn {
  width: 100%;
  margin-bottom: 24px;
}

.menu-footer {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.menu-footer__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.menu-footer__link {
  line-height: 1.5;
  color: var(--gray);
}

.contacts__block {
  display: flex;
  flex-direction: column;
}

.contacts__block:not(:last-child) {
  margin-bottom: 40px;
}

.contacts__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}

.contacts__item {
  line-height: 1.5;
  color: var(--gray);
}

.contacts__item:not(:last-child) {
  margin-bottom: 12px;
}

.contacts__btn {
  margin-top: 28px;
}

.contacts__socials {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.contacts__social {
  width: 28px;
  height: 28px;
  min-width: 28px;
}

.contacts__social:not(:last-child) {
  margin-right: 16px;
}

.contacts__social svg {
  width: 100%;
  height: 100%;
  fill: var(--blue);
}

@media (max-width: 1512px) {
  .title {
    font-size: calc(2.5rem + 20 * (100vw - 26.875rem) / 1082);
    margin-bottom: calc(40px + 16 * (100vw - 430px) / 1082);
  }

  .title span {
    width: calc(36px + 26 * (100vw - 320px) / 1192);
    height: calc(36px + 26 * (100vw - 320px) / 1192);
  }

  .breadcrumbs__body {
    padding-block: calc(24px + 8 * (100vw - 430px) / 1082);
  }

  .header__logo {
    font-size: calc(1.125rem + 2 * (100vw - 26.875rem) / 1082);
  }

  .main__title {
    margin-bottom: 16px;
  }

  .main__gift {
    font-size: calc(1rem + 2 * (100vw - 26.875rem) / 1082);
  }

  .list-main__text {
    font-size: calc(0.875rem + 2 * (100vw - 26.875rem) / 1082);
  }

  .features-main__value {
    font-size: calc(2.5rem + 4 * (100vw - 26.875rem) / 1082);
  }

  .services {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .services__body {
    gap: calc(16px + 8 * (100vw - 430px) / 1082);
  }

  .services__block {
    gap: calc(16px + 8 * (100vw - 430px) / 1082);
  }

  .include {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .settings {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .benefit {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .results {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .results__value {
    font-size: calc(0.875rem + 4 * (100vw - 26.875rem) / 1082);
  }

  .results__value span {
    font-size: calc(3.5rem + 4 * (100vw - 26.875rem) / 1082);
  }

  .results__link {
    font-size: calc(0.875rem + 2 * (100vw - 26.875rem) / 1082);
  }

  .clients {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .feedbacks {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .seo {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .path {
    padding: calc(64px + 64 * (100vw - 430px) / 1082) 0;
  }

  .blog {
    padding-bottom: calc(64px + 64 * (100vw - 320px) / 1192);
  }

  .categories {
    gap: calc(11px + 5 * (100vw - 430px) / 1082);
  }

  .pages {
    margin-top: calc(56px + 24 * (100vw - 430px) / 1082);
  }

  .pages__prev,
  .pages__next {
    width: calc(32px + 16 * (100vw - 430px) / 1082);
    min-width: calc(32px + 16 * (100vw - 430px) / 1082);
    height: calc(32px + 16 * (100vw - 430px) / 1082);
  }

  .pages__body {
    gap: calc(8px + 8 * (100vw - 320px) / 1192);
  }

  .pages__link {
    width: calc(32px + 16 * (100vw - 430px) / 1082);
    height: calc(32px + 16 * (100vw - 430px) / 1082);
    font-size: calc(0.875rem + 6 * (100vw - 26.875rem) / 1082);
  }

  .pages__separator {
    width: calc(32px + 16 * (100vw - 430px) / 1082);
    height: calc(32px + 16 * (100vw - 430px) / 1082);
    font-size: calc(0.875rem + 6 * (100vw - 26.875rem) / 1082);
  }

  .footer__body {
    gap: calc(40px + 64 * (100vw - 993px) / 519);
  }

  .footer__menus {
    gap: calc(40px + 64 * (100vw - 993px) / 519);
  }
}

@media (max-width: 993px) {
  .header__menu-icon {
    display: flex;
  }

  .menu__close {
    display: flex;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--app-height);
    background: var(--white);
    padding: 25px 40px 40px;
    z-index: 100;
    overflow-y: auto;
    transition: all 0.5s ease;
    transform: scale(0);
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: none;
  }

  .menu__body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu__body._active {
    transform: scale(1);
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 16px 0;
  }

  .menu__item.active .menu__btn {
    transform: rotate(-180deg);
  }

  .menu__item {
    width: 100%;
    justify-content: space-between;
  }

  .menu__btn {
    pointer-events: all;
    width: 16px;
    height: 16px;
  }

  .features-main {
    gap: 16px;
  }

  .features-main__item {
    flex-direction: column;
    align-items: unset;
  }

  .features-main__text {
    max-width: unset;
  }

  .settings__body {
    grid-template-columns: 1fr;
  }

  .settings__item {
    grid-column: unset;
  }

  .settings__item:nth-child(1),
  .settings__item:nth-child(2),
  .settings__item:nth-child(3),
  .settings__item:nth-child(4),
  .settings__item:nth-child(5) {
    grid-column: unset;
    grid-row: unset;
  }

  .benefit__body {
    flex-direction: column;
  }

  .results__body {
    flex-direction: column;
  }

  .clients__slider {
    padding: 0;
  }

  .clients__navigation {
    display: none;
  }

  .feedbacks__grid {
    -moz-columns: 3;
         columns: 3;
  }

  .footer__body {
    flex-direction: column;
    gap: 40px;
  }

  .footer__main {
    flex: unset;
  }

  .footer__desc {
    margin-bottom: 0;
    max-width: unset;
  }

  .footer__menus {
    gap: 40px;
  }

  .footer__contacts {
    flex: unset;
    display: flex;
    gap: 40px;
  }

  .contacts__block:not(:last-child) {
    margin-bottom: 0;
  }

  .contacts__block {
    flex: 1 1 50%;
  }
}

@media (max-width: 768px) {
  .lang.active .lang__current {
    border-color: transparent;
  }

  .lang.active .lang__body {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .phones.active {
    z-index: 2;
  }

  .phones.active .phones__body {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .phones.active .phones__main {
    border-color: transparent;
  }

  .phones__link {
    font-size: 0;
    pointer-events: none;
  }

  .phones__number_mob {
    display: flex;
  }

  .main__image {
    margin-bottom: 24px;
  }

  .list-main {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 2px dashed #DBDBDB;
  }

  .features-main__item {
    flex: 1 1 33%;
  }

  .services__body {
    flex-direction: column;
  }

  .include__body {
    flex-direction: column;
  }

  .feedbacks__grid {
    -moz-columns: 2;
         columns: 2;
  }

  .seo__body {
    max-height: calc(var(--app-height) / 2);
  }

  .about__body {
    flex-direction: column;
    align-items: center;
  }

  .path__body {
    flex-direction: column;
    align-items: center;
  }

  .blog__body {
    flex-direction: column;
  }

  .pages {
    margin-bottom: 56px;
  }
}

@media (max-width: 576px) {
  .header__btn {
    margin: 24px 0 0;
  }

  .menu__list {
    border-bottom: 1.5px dashed #DBDBDB;
  }

  .lang {
    margin: 16px 0 0;
  }

  .lang__current {
    padding: 0;
    border: none;
    justify-content: space-between;
  }

  .lang__btn {
    width: 16px;
    height: 16px;
  }

  .phones__body {
    left: unset;
    right: -32px;
  }

  .benefit__cards {
    flex-direction: column;
  }

  .results__cards {
    width: 100%;
  }

  .results__link {
    width: -moz-fit-content;
    width: fit-content;
  }

  .results__link svg {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .feedbacks__body {
    max-height: 785px;
  }

  .feedbacks__grid {
    -moz-columns: 1;
         columns: 1;
  }

  .article-blog {
    flex-direction: column;
  }

  .article-blog__image {
    flex: unset;
    height: 220px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .results__value {
    white-space: normal;
  }
}

@media (max-width: 400px) {
  .results__cards {
    grid-template-columns: 1fr;
  }

  .path__info {
    grid-template-columns: 1fr;
  }

  .path__item:nth-child(1n+3) {
    grid-column: unset;
  }
}

@media (max-width: 375px) {
  .list-main {
    grid-template-columns: 1fr;
  }

  .features-main {
    flex-wrap: wrap;
  }

  .features-main__item {
    flex: 0 1 47%;
  }

  .services__block {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }

  .services__block:nth-child(1) .services__item:nth-child(2) {
    grid-column: unset;
    grid-row: unset;
    padding-right: 72px;
  }

  .services__block:nth-child(1) .services__item:nth-child(2)::after {
    top: 50%;
    transform: translate(0, -50%);
  }

  .services__block:nth-child(1) .services__item:nth-child(3) {
    grid-column: unset;
    grid-row: unset;
    padding-right: 72px;
  }

  .services__block:nth-child(1) .services__item:nth-child(3)::after {
    top: 50%;
    transform: translate(0, -50%);
  }

  .services__block:nth-child(2) .services__item:nth-child(1) {
    grid-column: unset;
    grid-row: unset;
    padding-right: 72px;
  }

  .services__block:nth-child(2) .services__item:nth-child(1)::after {
    top: 50%;
    transform: translate(0, -50%);
  }

  .services__block:nth-child(2) .services__item:nth-child(4) {
    grid-column: unset;
    grid-row: unset;
    padding-right: 72px;
  }
}

@media (max-width: 360px) {
  .footer__menus {
    -moz-columns: unset;
         columns: unset;
  }

  .footer__contacts {
    flex-direction: column;
  }
}

@media (any-hover: hover) {
  .navigation__prev:hover svg,
  .navigation__next:hover svg {
    stroke: var(--blue);
  }

  .breadcrumbs__item:not(:last-child):hover {
    opacity: 1;
  }

  .menu__item:hover .menu__btn {
    transform: rotate(-180deg);
  }

  .lang:hover .lang__current {
    border-color: transparent;
  }

  .lang:hover .lang__body {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .lang__link:hover {
    color: var(--black);
    background: #FBFBFC;
    font-weight: 600;
  }

  .phones:hover {
    z-index: 2;
  }

  .phones:hover .phones__body {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .phones:hover .phones__main {
    border-color: transparent;
  }

  .phones__link:hover {
    color: var(--black);
  }

  .phones__link:hover svg {
    stroke: var(--black);
  }

  .phones__number:hover {
    color: var(--black);
    background: #FBFBFC;
  }

  .phones__number:hover svg {
    stroke: var(--black);
  }

  .phones__social:hover {
    color: var(--black);
    background: #FBFBFC;
  }

  .phones__social_viber:hover svg {
    fill: #9747FF;
  }

  .phones__social_telegram:hover svg {
    fill: #2BA1D9;
  }

  .phones__social_whatsapp:hover svg {
    fill: #03BF23;
  }

  .phones__mail:hover {
    color: var(--black);
    background: #FBFBFC;
  }

  .phones__mail:hover svg {
    stroke: var(--black);
  }

  .categories__item:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
  }

  .article-blog__category:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
  }

  .tags__item:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
  }

  .pages__prev:hover svg,
  .pages__next:hover svg {
    stroke: var(--blue);
  }

  .pages__link:not(.active):hover {
    color: var(--blue);
    opacity: 1;
  }
}